/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-family: 'Terminus', 'Terminus (TTF)', 'Font Awesome 6 Free', 'Font Awesome 6 Brands';
    font-size: 10px;
}

/* The whole bar */
#waybar {
    background-color: rgba(0,0,0, 0.8);
    color: #dcdccc;
}

#workspaces button {
    color: #dcdccc;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: rgba(100, 100, 100, 0.5);
    border: rgba(100, 100, 100, 0.5);
}

#disk,
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    padding-left: 5px;
    padding-right: 5px;
}

#tray menu {
    background-color: rgba(0,0,0, 0.5);
    color: #dcdccc;
    font-size: 14px;
}

